.single {
  margin-top: 20px;
}

.single_contain {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 20px;
}

@media screen and (max-width : 450px) {
  .single_contain {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (min-width : 451px) and (max-width : 900px) {
  .single_contain {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}