.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-size: 45px;
  width: 100%;
  height: 100vh;
}

.loader h1 {
  color: #000000;
  animation: myAnim 2s ease 1ms infinite normal;
}

.loader h1 span {
  color: #ff0000;
}

@keyframes myAnim {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@media screen and (max-width : 800px) {
  .loader h1 {
    font-size: 20px;
  }
}