.searched {
  max-width: 1200px;
  margin: auto;
}

.filtered {
  margin-top: 50px;
}

.filtered h1 {
  color: #e23c3c;
}

.filt {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.fiter {
  display: flex;
  gap: 20px;
}

.prop1 {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filt h1 {
  text-align: center;
}

.no_property {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  text-transform: uppercase;
  height: 100vh;
}

.no_property button {
  padding: 16px 26px;
  background: #e23c3c;
  color: #ffffff;
  font-size: 16px;
  transition: all 0.5s;
  cursor: pointer;
}

.no_property button:hover {
  background: #ffffff;
  color: #e23c3c;
  border: 1px solid #e23c3c;
}

@media screen and (max-width : 700px) {

  .filt h1,
  .no_property h1 {
    font-size: 18px;
  }

  .prop1 {
    margin: 0px 0px;
  }

  .fiter {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (min-width : 701px) and (max-width : 1199px) {
  .userposts_col {
    margin: 20px 10px;
  }

  .fiter {
    margin: 0px 10px;
  }
}