.create {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.create h1 {
  color: #e23c3c;
  text-align: center;
  margin-top: 30px;
}

.create-two {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.creat {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.creat input,
.creat select {
  border: 1px solid #f0f0f0;
  width: 100%;
  font-size: 17px;
  color: #666;
  padding: 15px;
}

.creat textarea {
  width: 100%;
  border: 1px solid #f0f0f0;
  resize: none;
  padding: 15px;
  font-size: 17px;
  color: #666;
  height: 300px;
}


@media screen and (max-width : 500px) {
  .create-two {
    display: flex;

    flex-direction: column;
    gap: 20px;
  }

  .create {
    margin: 0px 10px;
  }

  .create h1 {
    font-size: 20px;
    margin-top: 30px;
  }

  .creat input,
  .creat label,
  .creat textarea,
  .creat select {
    font-size: 14px;
  }
}