.navbar {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: sticky;
  background: #fdfdfd;
  top: 0px;
  z-index: 99;
}

.navba {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  height: 80px;
}

.nav1 h1 {
  color: #000000;
}

.nav1 h1 span {
  color: #ff0000;
}

.nav2 ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav2 ul li {
  font-size: 17px;
  transition: all 0.5s;

}

.nav2 ul li:hover {
  color: #ff0000;
}

.nav2 ul li.active {
  color: #ff0000;
}

.nav3 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav3 ul {
  display: flex;
  align-items: center;
  gap: 20px;
}



.nav3 ul li a {
  font-size: 17px;
  padding: 10px;
  color: #000000;
  border: 1px #ff0000 solid;
  transition: all 0.5s;
}

.nav3 li {
  font-size: 17px;
  padding: 10px;
  color: #000000;
  cursor: pointer;
  border: 1px #ff0000 solid;
  transition: all 0.5s;
}

.nav3 li:hover {
  font-size: 17px;
  padding: 10px;
  background: #ff0000;
  color: #ffffff;
  border: 1px #ffffff solid;
}

.nav3 ul li a:hover {
  font-size: 17px;
  padding: 10px;
  background: #ff0000;
  color: #ffffff;
  border: 1px #ffffff solid;
}

.nav_view {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav_img {
  display: flex;
  align-items: center;
  position: relative;
  gap: 5px;
}

.click {
  position: absolute;
  top: 60px;
  left: -30px;
  display: none;
  padding: 20px;
  background: #ffffff;
  display: none;
  flex-direction: column;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  gap: 10px;
}

.click h3,
.click h4 {
  font-size: 16px;
  display: none;
  cursor: pointer;
  transition: all 0.5s;
}

.click h3:hover {
  color: #ff0000;
}

.nav_img img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.nav4 {
  display: none;
}

.navlink {
  display: none;
}

.nav_view li {
  cursor: pointer;
}

@media screen and (max-width : 1100px) {

  .nav3 {
    display: flex;
  }

  .nav_img h4 {
    display: none;
  }

  .nav3 li {
    display: none;
  }


  .click {
    display: flex;
  }

  .click h3,
  .click h4 {
    font-size: 16px;
    display: flex;
    cursor: pointer;
    transition: all 0.5s;
  }

  .nav_img img {
    width: 30px;
    height: 30px;
  }

  .nav2 {
    display: none;
  }

  .nav4 {
    margin-right: 10px;
    display: flex;
  }

  .nav4 button {
    font-size: 20px;
  }

  .nav1 {
    margin-left: 10px;
  }

  .navba {
    position: relative;
  }

  .navlink {
    display: flex;
    width: 100%;
    background: #ffffff;
    top: 80px;
    height: 100vh;
    position: absolute;
  }

  .navlink ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
    padding: 20px 10px;
  }

  .navlink ul li {
    font-size: 18px;
  }

  .navlink ul li.active {
    color: #ff0000;
  }
}