.footer {
  background: #fff3f3;
  margin-top: 40px;
}

.foot {
  max-width: 1200px;
  margin: auto;
  padding: 40px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer3 img {
  width: 100px;
}

.footer3,
.footer2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #0f0f0f;
}

.links li:hover {
  color: #ff0000;
}

.links li.active {
  color: #ff0000;
}

.footer2 h2,
.footer3 h2 {
  color: #1b1b1b;
}

.wright {
  background: #000000;
  text-align: center;
  padding: 20px 0px;
  color: #eeeeee;
}

@media screen and (max-width : 500px) {
  .foot {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}